<style>

        #logo{
		}

		body{
		    background-color: #ffffff;
            opacity: 1;
            width: flex;
            background-image:  linear-gradient(30deg, #cce8ff 12%, transparent 12.5%, transparent 87%, #cce8ff 87.5%, #cce8ff), linear-gradient(150deg, #cce8ff 12%, transparent 12.5%, transparent 87%, #cce8ff 87.5%, #cce8ff), linear-gradient(30deg, #cce8ff 12%, transparent 12.5%, transparent 87%, #cce8ff 87.5%, #cce8ff), linear-gradient(150deg, #cce8ff 12%, transparent 12.5%, transparent 87%, #cce8ff 87.5%, #cce8ff), linear-gradient(60deg, #cce8ff77 25%, transparent 25.5%, transparent 75%, #cce8ff77 75%, #cce8ff77), linear-gradient(60deg, #cce8ff77 25%, transparent 25.5%, transparent 75%, #cce8ff77 75%, #cce8ff77);
            background-size: 72px 126px;
            background-position: 0 0, 0 0, 36px 63px, 36px 63px, 0 0, 36px 63px;
		}


		#total-orders{
		    border-radius: 1rem;
		    height: 300px;
			background: linear-gradient(#4cb4c7, #4bd53a4f);
		}

		#finance-card{
		    height: auto;
		    border-radius: 1rem;
		    background: linear-gradient(#095c5c, #d53a9d47);
		}
		#txn-card{
		    background: linear-gradient(black, #d53a3a70);
		}
		#listview-card{
		    background: linear-gradient(#641010, #ff000070);
		}
		#listview-card-dash{
		    background: linear-gradient(#f8ffbd, #0037ff40);
		}
        #amount{
                border-radius: 10px;
                height: 40px;
                background-color: #004e91;
                color: #c7c7c7;
                font-size: 25px;
        }
        #remark{
                border-radius: 10px;
                height: 40px;
                background-color: #004e91;
                color: #c7c7c7;
                font-size: 25px;
        }

		#orders-delivered{
		    border-radius: 1rem;
		    height: 300px;
			background: linear-gradient(#7abecc, #ff00006b);
		}

		#orders-pending{
			background: linear-gradient(#7CD1C0, #d53a9d47);
		}

		#orders-ordered{
		    border-radius: 1rem;
		    height: 300px;
		    background: linear-gradient(#3ac0de, #e400ff54);
		}
        #client-card{
            border-radius: 1rem;
		    height: 200px;
		    width: 200px;
		    background: linear-gradient(#3ac0de, #e400ff54);
        }
        #client-card:hover {
            transform: scale(1.1);
            transition: 0.5s;
         }
		#client_management{
		    border-radius: 1rem;
			background: linear-gradient(#4cb4c7, #d53a9d47);
		}

		#client_info{
		    border-radius: 1rem;
			background: linear-gradient(#7abecc, #d53a9d47);
			height: 300px;
		}
        #form-order{
                background: linear-gradient(#274166, #d53a9d47);
        }
		#total_order{
		    border-radius: 1rem;
			background: linear-gradient(#7CD1C0, #ff00004f);
			height: 300px;
		}

		#search_card{
		    background: linear-gradient(#9addf5, #4bd53a4f);
		}

		#messages{
			background-color: #4cb4c7;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}

        /* Dropdown Button */
        .dropbtn {
          background-color: #00000000;
          color: white;
          padding: 16px;
          font-size: 16px;
          border: none;
        }
        .border-gradient-downinf{
            border-width: thin;
            border-image-slice: 1;
            border-image-source: linear-gradient(#743ad5, #d53a9d00);
        }
        .border-gradient-purple {
            border-width: thin;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
        }

        .border-gradient-red {
            border-width: thin;
            border-image-slice: 1;
            border-image-source: linear-gradient(to left, #c50d0d, #0062c8);
        }

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #2c6475;
          min-width: 200px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: black;}

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {display: block;}

        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {background-color: #3e8e41;}
</style>