<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!----------------------------------------------------------------------------------->
   {% include "css.html" %}     <!--CSS Script page-->
  <!----------------------------------------------------------------------------------->

    <title>{{ title }}</title>
  </head>

  <!----------------------------------------------------------------------------------->
   {% include "navbar.html" %}
  <!----------------------------------------------------------------------------------->

  <body>
  <!----------------------------------PAGE CONTENT------------------------------------->
  {% block content %}
  {% endblock %}
  <!----------------------------------------------------------------------------------->

  <!----------------------------------------------------------------------------------->
   {% include "js.html" %}     <!--Java Script page-->
  <!----------------------------------------------------------------------------------->

  </body>
</html>
