{% extends "base.html" %}

{% block content %}

{% for message in messages %}
	<p id="messages">{{ message }}</p>
{% endfor %}
<br>

<div class="row" onload=display_ct();>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">ACTIVE ACCOUNT</h5>
			  	</div>
			  	<div class="card-body">
					<h4>Time:&nbsp;<span id='time' ></span></h4>
			    	<h1 class="card-title">{{ title }}</h1>
					{% if title == 'Asian Chemicals' %}
						<a class="btn btn-danger" href="{% url 'DE_dashboard' %}">Switch Account&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-left-right"></i></a>
					{% else %}
						<a class="btn btn-danger" href="{% url 'AC_dashboard' %}">Switch Account&nbsp;&nbsp;&nbsp;<i class="bi bi-arrow-left-right"></i></a>
					{% endif %}
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-ordered">
			  	<div class="card-header">
			  		<h5 class="card-title">DASHBOARD</h5>
			  	</div>
			  	<div class="card-body">
			    	<p class="card-title" style="font-size: 2rem;">{{ content }}</p><hr><br>
					{% if title == 'Asian Chemicals' %}
						<a class="btn btn-danger" href="{% url 'AC_superview' %}">Super View&nbsp;&nbsp;&nbsp;<i class="bi bi-view-list"></i></a>
					{% else %}
						<a class="btn btn-danger" href="{% url 'DE_superview' %}">Super View&nbsp;&nbsp;&nbsp;<i class="bi bi-view-list"></i></a>
					{% endif %}
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Finance</h5>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title">Cash = {{ cashbox.amount }}</h1>
					<h1 class="card-title">Bank = {{ bank.amount }}</h1>
					{% if title == 'Asian Chemicals' %}
						<a class="btn btn-danger" href="{% url 'finance:ac_finance' %}">Finance Page&nbsp;&nbsp;&nbsp;<i class="bi bi-graph-up"></i></a>
					{% else %}
						<a class="btn btn-danger" href="{% url 'finance:de_finance' %}">Finance Page&nbsp;&nbsp;&nbsp;<i class="bi bi-graph-up"></i></a>
					{% endif %}
			  	</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h5>CLIENTS</h5>
			<hr>
			<div class="card card-body">
				<form method="get">
						{{ client_filter.form }}
						<button class="btn btn-info" type="submit">Search&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
			</div>
			<hr>
			<div class="card card-body">
				<a class="btn btn-success btn-sm btn-block" href="{% url 'client:create_client' %}">Create Client&nbsp;&nbsp;<i class="fa fa-user-plus" aria-hidden="true"></i></a>
				<table class="table table-sm">
					<tr>
						<th>Client</th>
						<th>Email</th>
						<th></th>
					</tr>
					{% for client in clients|slice:":20" %}
						<tr>
							<td>{{ client.name }}</td>
							<td>{{ client.email }}</td>
							<td><a type="button" class="btn btn-sm btn-info" href="{% url 'client:client_view' client.id %}">View&nbsp;&nbsp;<i class="fa fa-share" aria-hidden="true"></i></a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-md-6">
			<h5>ORDERS</h5>
			<hr>
			<div class="card card-body">
				<form method="get">
						{{ order_filter.form }}
						<button class="btn btn-info" type="submit">Search&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i></button>
				</form>
			</div>
			<hr>
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						{% if title == 'Asian Chemicals' %}
						<a class="btn btn-success btn-sm btn-block" href="{% url 'order:accreate_order' %}">Create Order&nbsp;&nbsp;<i class="fa fa-plus-square" aria-hidden="true"></i></a>
						{% else %}
						<a class="btn btn-success btn-sm btn-block" href="{% url 'order:decreate_order' %}">Create Order&nbsp;&nbsp;<i class="fa fa-plus-square" aria-hidden="true"></i></a>
						{% endif %}
					</tr>
					<tr>
						<th>Order Id</th>
						<th>Customer</th>
						<th>Payment Status</th>
						<th></th>
						<th></th>
					</tr>
					{% for order in orders|slice:"::-1"|slice:":15" %}
						<tr>
							<td>{{ order.order_id }}</td>
							<td>{{ order.client }}</td>
							{% if order.payment == 'Paid' %}
							<td class="bg-success text-white text-center font-weight-bold">{{ order.payment }}</td>
							{% else %}
							<td class="bg-danger text-white text-center font-weight-bold">{{ order.payment }}</td>
							{% endif %}
							<td><a href="{% url 'order:view_order' order.id %}" type="button" class="btn btn-sm btn-info">Challan&nbsp;&nbsp;<i class="fa fa-share" aria-hidden="true"></i></a></td>
						    <td><a href="{% url 'order:invoice' order.id %}" type="button" class="btn btn-sm btn-info">Invoice&nbsp;&nbsp;<i class="fa fa-file-text-o" aria-hidden="true"></i></a></td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	`use strict`;
	function display_ct() {
		var hour = new Date().getHours();
		var min =  new Date().getMinutes();
		var sec = new Date().getSeconds();
		var x = hour + ":" + min + ":" + sec;
		document.getElementById('time').innerHTML = x;
	}	 setInterval(display_ct, 1000);
</script>
{% endblock %}