{% extends "base.html" %}

{% block content %}

<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="finance-card">
				<div class="card-header">
					{% if title == 'Asian Chemicals' %}
					<a class="btn btn-danger" href="{% url 'AC_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% else %}
					<a class="btn btn-danger" href="{% url 'DE_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% endif %}
					{% if title == 'Asian Chemicals' %}
					<a class="btn btn-danger" href="{% url 'finance:ac_finance_detail' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Detail View</a>
					{% else %}
					<a class="btn btn-danger" href="{% url 'finance:de_finance_detail' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Detail View</a>
					{% endif %}
					<h2 class="text-center">{{ title }}</h2>
					<hr>
			  		<h3 class="card-title">Cash Transaction</h3>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title">Cash = <i class="fa fa-rupee"></i> {{ cashbox.amount }}</h1>
                    <form id="myFormCash" action="" method="POST"> {% csrf_token %}
						<label for="amount">Amount:</label>
  						<input type="text" id="amount" name="amount" value="0"><br>
						<label for="remark">Remark:</label>
						<input type="text" id="remark" name="remark" value=""><br>
						<input type="hidden" id="hidden_type" name="hidden_type" value="cash">
						<input class="btn btn-info" type="submit" name="action" value="CREDIT" />
						<input class="btn btn-info" type="submit" name="action" value="DEBIT" />
					</form>
			  	</div>
			</div>
		</div>
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="finance-card">
			  	<div class="card-header">
					{% if title == 'Asian Chemicals' %}
					<a class="btn btn-danger" href="{% url 'AC_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% else %}
					<a class="btn btn-danger" href="{% url 'DE_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% endif %}
					{% if title == 'Asian Chemicals' %}
					<a class="btn btn-danger" href="{% url 'finance:ac_finance_detail' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Detail View</a>
					{% else %}
					<a class="btn btn-danger" href="{% url 'finance:de_finance_detail' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Detail View</a>
					{% endif %}
					<h2 class="text-center">{{ title }}</h2>
					<hr>
			  		<h3 class="card-title">Bank Transaction</h3>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title">Bank = <i class="fa fa-rupee"></i> {{ bank.amount }}</h1>
					<form id="myFormBank" action="" method="POST"> {% csrf_token %}
						<label for="amount">Amount:</label>
  						<input type="text" id="amount" name="amount" value="0"><br>
						<label for="remark">Remark:</label>
						<input type="text" id="remark" name="remark" value=""><br>
						<input type="hidden" id="hdden_type" name="hidden_type" value="bank">
						<input class="btn btn-info" type="submit" name="action" value="CREDIT" />
						<input class="btn btn-info" type="submit" name="action" value="DEBIT" />
					</form>
			  	</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md">
			<h5>Transactions :</h5>
			<div class="card card-body" id="txn-card">
				<table class="table text-white table-sm">
					<tr>
						<th>DR/CR</th>
						<th>Amount</th>
						<th>Remark</th>
						<th>Cash Balance</th>
					</tr>
					{% for transaction in cashtransactions|slice:"::-1"|slice:":15" %}
					<tr>
						<td>{{ transaction.type }}</td>
						<td>{{ transaction.amount }}</td>
						<td>{{ transaction.remark }}</td>
						<td>{{ transaction.balance }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-md">
			<h5>Transaction :</h5>
			<div class="card card-body" id="txn-card">
				<table class="table text-white table-sm">
					<tr>
						<th>DR/CR</th>
						<th>Amount</th>
						<th>Remark</th>
						<th>Bank Balance</th>
					</tr>
					{% for transaction in banktransactions|slice:"::-1"|slice:":15" %}
                    <tr>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.remark }}</td>
						<td>{{ transaction.balance }}</td>
                    </tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}