{% extends "base.html" %}

{% block content %}

{% for message in messages %}
	<p id="messages">{{ message }}</p>
{% endfor %}
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
				<div class="card-header">
					{% if title == 'Asian Chemicals' %}
					<a class="btn btn-danger" href="{% url 'AC_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% else %}
					<a class="btn btn-danger" href="{% url 'DE_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% endif %}
					<h2 class="text-center">{{ title }}</h2>
					<hr>
			  		<h3 class="card-title">Cash Transaction</h3>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title">Cash = <i class="fa fa-rupee"></i> {{ cashbox.amount }}</h1>
                    <form action="" method="POST"> {% csrf_token %}
						<label for="amount">Amount:</label>
  						<input type="text" id="amount" name="amount" value="0" style="border-radius: 10px;height: 40px;background-color: #5ec7d2;color: white;font-size: 25px;"><br>
						<input type="hidden" id="hidden_type" name="hidden_type" value="cash">
						<input class="btn btn-info" type="submit" name="action" value="CREDIT" />
						<input class="btn btn-info" type="submit" name="action" value="DEBIT" />
					</form>
			  	</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
					{% if title == 'Asian Chemicals' %}
					<a class="btn btn-danger" href="{% url 'AC_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% else %}
					<a class="btn btn-danger" href="{% url 'DE_dashboard' %}"><i class="fa fa-tachometer"></i>&nbsp;&nbsp;&nbsp;Back To Dashboard</a>
					{% endif %}
					<h2 class="text-center">{{ title }}</h2>
					<hr>
			  		<h3 class="card-title">Bank Transaction</h3>
			  	</div>
			  	<div class="card-body">
			    	<h1 class="card-title">Bank = <i class="fa fa-rupee"></i> {{ bank.amount }}</h1>
					<form action="" method="POST"> {% csrf_token %}
						<label for="amount">Amount:</label>
  						<input type="text" id="amount" name="amount" value="0" style="border-radius: 10px;height: 40px;background-color: #5ec7d2;color: white;font-size: 25px;"><br>
						<input type="hidden" id="hdden_type" name="hidden_type" value="bank">
						<input class="btn btn-info" type="submit" name="action" value="CREDIT" />
						<input class="btn btn-info" type="submit" name="action" value="DEBIT" />
					</form>
			  	</div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h5>Transactions :</h5>
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>DR/CR</th>
						<th>Amount</th>
						<th>Timestamp</th>
						<th>Cash Balance</th>
					</tr>
					{% for transaction in cashtransactions|slice:"::-1"|slice:":15" %}
                    <tr>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.timestamp }}</td>
						<td>{{ transaction.balance }}</td>
                    </tr>
					{% endfor %}
				</table>
			</div>
		</div>

		<div class="col-md-6">
			<h5>Transaction :</h5>
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>DR/CR</th>
						<th>Amount</th>
						<th>Timestamp</th>
						<th>Bank Balance</th>
					</tr>
					{% for transaction in banktransactions|slice:"::-1"|slice:":15" %}
                    <tr>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.timestamp }}</td>
						<td>{{ transaction.balance }}</td>
                    </tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}